.box-responses {
display: flex;
}

.first-response {
position: relative;
}

.second-response {
position: relative;
}

p {
color: red;
}

.container {
border-style: solid;
border-color: white;
}

.row {
border-style: solid;
border-color: orange;
}

.col-xs-6 {
border-style: solid;
border-color: red;
  img {
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.color-col {
border-color: blue;
}

.position-absolute {
position: absolute;
width: auto;
bottom: 70px;
}

