
  <div class="home-content">
    <h1>P'All Battle</h1>
    <p>Vote and support your best, create your own poll and share with friends</p>
    <div id="open" class= "btn navbar-wagon-button">
      <%= link_to "Open app", categories_path%>
    </div>
  </div>


