
.formTitle {
  padding-bottom: 0;
  margin-top: 20px;
  text-align: center;
  color: black;
  display: flex;
  padding: 30px 20px;
  color: $color4;
  align-items: center;
  justify-content: center;
}

#user_username, #user_email, #user_password, #user_password_confirmation {
  background: none;
  color: white;
  border: none;
  border-bottom: 1px solid white;
  box-shadow: none;
  width: 100%;
}
