$color-2nd: black;

$menu-width-desktop: 240px;
$menu-width-tablet: 90px;
$menu-width-smartphone: 230px;

body{
  margin:0px;
  color:#fff;
  padding-left:$menu-width-desktop;
  background: url(http://res.cloudinary.com/dibgaxttc/image/upload/v1488496517/new_black_ihve2h.jpg) no-repeat center fixed;
    -webkit-background-size: cover; /* pour anciens Chrome et Safari */
    background-size: cover; /* version standardisée */
}

.top-encart {
  padding-bottom: 20px;
  border-bottom: 1px solid black;

}
 .top-encart h3 {
    margin: 2px;
    text-align: center;
    color: black;
 }

.logo-box {
  position: relative;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  margin-left: 10px;

  .first-box {
    position: absolute;
    top: 15px;
    left: 55px;
    width: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-transform:skew(-10deg);
    -moz-transform:skew(-10deg);
    -o-transform:skew(-10deg);
    transform:skew(-10deg);
  }

  .separator {
    position: absolute;
    height: 40px;
    border-left: 2px solid black;
    left: 110px;
    top: 10px;
    -webkit-transform:skew(-10deg);
    -moz-transform:skew(-10deg);
    -o-transform:skew(-10deg);
    transform:skew(-10deg);
  }

  .second-box {
    position: absolute;
    top: 15px;
    left: 116px;
    width: 50px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
    -webkit-transform:skew(-10deg);
    -moz-transform:skew(-10deg);
    -o-transform:skew(-10deg);
    transform:skew(-10deg);
  }
}

main{
  position:relative;
  height:100vh;

  .helper{
    background:rgba(0,0,0,0.2);
    position:absolute;
    top:50%;
    left:50%;
    transform:translate3d(-50%,-50%,0);
    padding:1.2em 2em;
    text-align:center;
    border-radius:20px;
    font-size:2em;
    font-weight:bold;

    span{
      color:rgba(0,0,0,0.2);
      font-size:0.4em;
      display:block;
    }
  }
}

.menu{
  background: white;
  height:100vh;
  width:$menu-width-desktop;
  position:fixed;
  top:0;
  left:0;
  z-index:5;
  outline:none;
  box-shadow: 2px 2px 5px grey;

  .profile{
    background: $color5;
    padding:1em 0.5em;
    padding-top: 0px;
    padding-bottom: 30px;
    text-align:center;
    border-radius: 0px;
    width: 100%;
    border-bottom: 1px solid black;

    img{
      width:60px;
      overflow:hidden;
      border-radius: 3px;
      border: 1px solid black;
    }

    p {
      color: grey;
    }

    h2 {
      color: grey;
      margin: 10px;
      margin-bottom: 20px;
      font-size: 18px;
    }
  }

  ul{
    list-style:none;
    padding:0.2em 0;
    text-align: center;
    margin-top: 10px;

    li{
      padding:0.5em 3em 0.5em 3em;
      font-size:0.95em;
      font-weight:regular;
      background-repeat:no-repeat;
      background-position:left 15px center;
      background-size:auto 20px;
      border-radius: 2px;
      transition:all 0.15s linear;
      cursor:pointer;
      color: white;
    }

    a {
      color: black;
    }
  }
}


@media screen and (max-width:1024px){
  body{
    padding-left:0;
  }

  .menu{
    width:$menu-width-smartphone;
    box-shadow:0 0 0 100em rgba(0,0,0,0);
    transform:translate3d(-$menu-width-smartphone,0,0);
    transition:all 0.3s ease-in-out;


    .smartphone-menu-trigger{
      width:40px;
      height:40px;
      position:absolute;
      left:100%;
      background: grey;

      &:before, &:after{
        content:'';
        width:50%;
        height:2px;
        background:#fff;
        border-radius:10px;
        position:absolute;
        top:45%;
        left:50%;
        transform:translate3d(-50%, -50%, 0);
      }

      &:after{
        top:55%;
        transform:translate3d(-50%, -50%, 0);
      }
    }

    ul{
      margin-top: 10px;

      li{
        padding:0.5em 3em 0.5em 3em;
        font-size:1.2em;
      }
    }

    &:focus{
      transform:translate3d(0,0,0);
      box-shadow:0 0 0 100em rgba(0,0,0,0.6);

      .smartphone-menu-trigger{
        pointer-events:none;
      }
    }
  }
}

.btn-sign-in {
  background-color: $color4;
  border-radius: 2px;
  margin-bottom: 5px;
  &:hover {
    background-color: #61D3C6;
    border-radius: 2px;
    margin-bottom: 5px;
  }
}

.btn-sign-in-with {
  color: #fff;
  background-color: #469AE0;
  border-color: #308edc;
  border-radius: 2px;
  &:hover {
    color: #fff;
    background-color: #308edc;
    border-color: #308edc;
    border-radius: 2px;
  }
}

a.btn-sign-in {
  color: white;
  width: 70%;
}

a.btn-sign-in:hover {
  color: white;
}

.btn-log-out {
  background-color: white;
  border-radius: 2px;
  width: 60%;
  &:hover{
    background-color: #BD5656;
    color: white;

  }
}

a.btn-log-out {
  color: grey;
  justify-content: center;
}

.profile-info{
  display: flex;
  justify-content :center;
  margin-bottom: 15px;
      padding-top: 20px;

  .avatar{
    width: 60px;
    margin:0 0;
  }

  .user-username {

    h2{
      top: 21px;
      margin: 0;
      margin-left: 10px;
      position: relative;
      padding-left: 8px;
      border-left: 3px solid grey;
      border-radius: 5px;
    }
  }
}

.navigation {
  background-color: #EEEEEE;
  padding-top: 5px;
  padding-bottom: 100vh;
}