h1 {
  margin-top: 60px;
  margin-bottom: 30px;
  text-align: center;
}
.container-fluide {
  flex-wrap: wrap;
}

.card {
  padding: 1px 2px;
  content: center;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 5px grey;
  border: 1px solid black;
  -webkit-transition: 0.5s;
}

.card:hover {
  padding: 1px 1px;
  content: center;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 5px grey;
  border: 1px solid $color2;
  -webkit-transition: 0.5s;
}

.card-title {
  position: absolute;
  font-size: 3em;
  text-decoration: none;
  text-align:center;
  vertical-align: middle;
  width: 100%;
  top: 40px;
  z-index: 1;
  -webkit-transition: 0.5s;
}

.card-title a:visited {
  color: grey;
  text-decoration: none;
}

.card-title a {
  color: grey;
  text-decoration: none;
  -webkit-transition: 0.5s;
}

.card-title a:hover {
  color: $color4;
  text-decoration: none;
  -webkit-transition: 0.5s;
}

.card-img img {
  position: relative;
  height: 100%;
  width: 100%;
  background-size: cover;
}


.col-xs-12.col-sm-6.col-md-3 {
  padding: 0 0;
}

.gradient {
  position: absolute;
  opacity: 0.5;
}

