/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 33px;
  text-align: center;
  color: white;
  width:100%;
}
.alert-info {
  background: $color2;
}
.alert-warning {
  background: $color3;
}
