/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  text-align: center;
  color: white;
  width: 100%;
  margin-bottom: 0px;
}

.alert-info {
  background: $color2;
}
.alert-warning {
  background: $color3;
}
