// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";
@import "polls/*";
@import "categories/*";
@import "devises/*";


// Common parts to all pages
html {
  background: url(http://res.cloudinary.com/dibgaxttc/image/upload/v1488496517/new_black_ihve2h.jpg) no-repeat center fixed;
  margin:0;
  padding:0;
  -webkit-background-size: cover; /* pour anciens Chrome et Safari */
  background-size: cover; /* version standardisée */
}
