  <h1>All areas</h1>
  <p>Une belle mosaique avec des photos des catégories </p>
  <div class= "container-fluide">
    <% @categories.each do |category| %>
      <div class= "card">
        <%= link_to category.name, category_path(category) %>
        <%= cl_image_tag category.picture.path, height: 150, width: 250  %>

      </div>
    <% end %>
  </div>
