<h1><%= @category.name %></h1>
<div class= "container">
  <% @category_polls.each do |poll| %>
    <div class= "category">
      <%= link_to poll.title, poll_path(poll)%>
    </div>
  <% end %>
</div>

